In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('vgsales.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [26]:
df.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [27]:
# Which company is the most common video game publisher?
df.Publisher.mode()

0    Electronic Arts
dtype: object

In [31]:
n = 3
df['Genre'].value_counts()[:n].index.tolist()

['Action', 'Sports', 'Misc']

In [15]:
# Whatâ€™s the most common platform?
df.Platform.mode()

0    DS
dtype: object

In [58]:
# What about the most common genre?
df.Genre.mode()

0    Action
dtype: object

In [41]:
# What are the top 20 highest grossing games?
rank = df[['Name', 'Global_Sales']]
rank.head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [45]:
# For North American video game sales, whatâ€™s the median?
df['NA_Sales'].median()

0.08

In [66]:
# Provide a secondary output showing ten games surrounding the median sales output

median_sales = df['Global_Sales'].median()
df.iloc[(df['Global_Sales']-median_sales).abs().argsort()[:11]]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
8298,8300,The Lord of the Rings: Aragorn's Quest,PS3,2010.0,Action,Warner Bros. Interactive Entertainment,0.10,0.04,0.00,0.02,0.17
8313,8315,Backbreaker,PS3,NaN,Sports,Unknown,0.16,0.00,0.00,0.01,0.17
8312,8314,Pursuit Force: Extreme Justice,PSP,2007.0,Action,Sony Computer Entertainment,0.07,0.07,0.00,0.03,0.17
8311,8313,Jillian Michaels Fitness Ultimatum 2011,Wii,2010.0,Sports,D3Publisher,0.16,0.00,0.00,0.01,0.17
8310,8312,Cabela's Legendary Adventures,PSP,2008.0,Sports,Activision,0.16,0.00,0.00,0.01,0.17
8309,8311,Macross Ultimate Frontier,PSP,2009.0,Action,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
8308,8310,Tak: The Great Juju Challenge,GBA,2005.0,Platform,THQ,0.12,0.05,0.00,0.00,0.17
8307,8309,Looney Tunes: Back in Action,GC,2003.0,Platform,Warner Bros. Interactive Entertainment,0.13,0.03,0.00,0.00,0.17
8306,8308,Super Robot Taisen Compact 2 Dai-1-Bu,WS,2000.0,Strategy,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
8305,8307,Chuck E. Cheese's Party Games,Wii,2010.0,Misc,UFO Interactive,0.16,0.00,0.00,0.01,0.17
8304,8306,.hack//G.U. Vol.3//Redemption,PS2,2007.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17

In [73]:
# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
# rank 1 NA - NA mean
df['NA_Sales'].mean()

0.26466742981082064

In [70]:
df['NA_Sales'].std()

0.8166830292988796

In [13]:
# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
print('Wii average number of sales:', df[df['Platform'] == 'Wii']['Global_Sales'].mean())
print('All other platforms average number of sales:', df[df['Platform'] != 'Wii']['Global_Sales'].mean())

Wii average number of sales: 0.6994037735849057
All other platforms average number of sales: 0.5233896418516336

In [14]:
# What is the lowest rank game? 
df['Name'].tail(1)

16597    Spirits & Spells
Name: Name, dtype: object

In [32]:
# Which year has the most games?

df.Year.mode()

0    2009.0
dtype: float64

In [30]:
#  What games fall under the year 2009?
df[df.Year == 2009.0]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
36,37,Call of Duty: Modern Warfare 2,X360,2009.0,Shooter,Activision,8.52,3.63,0.08,1.29,13.51
45,46,Pokemon HeartGold/Pokemon SoulSilver,DS,2009.0,Action,Nintendo,4.40,2.77,3.96,0.77,11.90
...,...,...,...,...,...,...,...,...,...,...,...
16540,16543,15 Days,PC,2009.0,Adventure,DTP Entertainment,0.00,0.01,0.00,0.00,0.01
16551,16554,Sweet Honey Coming,PS2,2009.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16577,16580,Damnation,PC,2009.0,Shooter,Codemasters,0.00,0.01,0.00,0.00,0.01
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.00,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.00,0.01